@mixin styleInput($border-radius, $border-style, $width, $padding) {
    border-radius: $border-radius;
    border: $border-style;
    width: $width;
    padding: $padding;
}

@mixin styleButton($width, $height, $border-radius, $border, $color, $bg-color, $color-hover, $bg-hover) {
    width: $width;
    height: $height;
    border-radius: $border-radius;
    border: $border;
    color: $color;
    background-color: $bg-color;
    transition: 0.5s;
    &:hover {
        color: $color-hover;
        background-color: $bg-hover;
    }
}

@mixin respondsive($screen-width) {
    @if map-has-key($map: $break-point, $key: $screen-width) {
        $value: map-get(
            $map: $break-point,
            $key: $screen-width
        );
        @media screen and (max-width: $value) {
            @content;
        }
    } @else {
        @warn "Can not get break point";
    }
}
