@mixin styleInput($border-radius, $border-style, $width, $padding) {
    border-radius: $border-radius;
    border: $border-style;
    width: $width;
    padding: $padding;
}

@mixin styleButton($width, $height, $border-radius, $border, $color, $bg-color, $color-hover, $bg-hover) {
    width: $width;
    height: $height;
    border-radius: $border-radius;
    border: $border;
    color: $color;
    background-color: $bg-normal;
    transition: 0.5s;
    &:hover {
        color:$color-hover;
        background-color: $bg-hover;
    }
}
