.carousel{
    margin: 0;
    padding: 0;
    @for $i from 1 through 4 {
        .item-#{$i}{
            background-image: url(../img/carousel-#{$i}.jpg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 100vh;
            width: 100%;
        }
    }
}