@keyframes dropdown {
    0% {
        height: 0px;
    }
    100% {
        height: 414px;
    }
}
.dropdown {
    animation-name: dropdown;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
.rotate{
    transform: rotate(180deg);
}
