.modal {
    .modal-dialog {
        .modal-content {
            .modal-footer {
                justify-content: space-evenly;
            }
        }
    }
}
.nav {
    justify-content: space-around;
}
.nav-tabs {
    border-bottom: none;
    .nav-item {
        .nav-link {
            border: none;
            position: relative;
            font-size: 16px;
            color: $font-black-01;
            font-weight: 700;
            &::after {
                content: "";
                display: block;
                position: absolute;
                height: 2px;
                background-color: red;
                width: 0%;
                left: 0;
                transition: all 0.5s;
            }
            &.active {
                &::after {
                    width: 100%;
                }
                color: $bg-yellow;
            }
            &:hover {
                color: $bg-yellow;
                &::after {
                    width: 100%;
                }
            }
        }
    }
}
.page-nav {
    display: flex;
    justify-content: center;

    .pagination {
        flex-wrap: wrap;
        justify-content: center;
        .page-item {
            .page-link {
                border: 1px solid $bg-yellow;
                background-color: $bg-normal;
                color: wheat;
                span {
                    font-weight: bold;
                }
                &.active {
                    background-color: $bg-yellow;
                    color: $font-black-01;
                }
                &:focus {
                    box-shadow: none;
                }
            }
        }
    }
}
.order_item {
    width: 95%;
    margin: 10px auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: left;
    padding: 10px 50px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s;
    border: 2px solid #8f714b;
    &:hover {
        background-color: $bg-yellow;
    }
    span {
        font-weight: 700;
    }
    p {
        margin: 0;
    }
}
.arlert {
    margin-bottom: 0;
}
